<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Restablecer Contraseña</h5>
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="newPassword" class="form-label"
                >Nueva Contraseña</label
              >
              <input
                type="password"
                id="newPassword"
                class="form-control"
                placeholder="Ingresa la nueva contraseña"
                [(ngModel)]="newPassword"
                name="newPassword"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary w-100">
              Restablecer Contraseña
            </button>
          </form>

          <!-- Mensaje de éxito -->
          <div *ngIf="isSuccess" class="alert alert-success mt-3" role="alert">
            Contraseña restablecida exitosamente.
          </div>

          <!-- Mensaje de error -->
          <div *ngIf="isError" class="alert alert-danger mt-3" role="alert">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
