h4 {
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}

h5 {
  color: black;
  font-size: 2em;
  font-weight: 700;
}

p {
  color: black;
}

.btn {
  margin-bottom: 30px;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transición */
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño de la tarjeta */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}
