.container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: start; /* Alinea los elementos al inicio del contenedor */
}

.container > * {
  flex: 1 1 calc(50% - 20px); /* Cada elemento ocupa 50% menos el espacio del gap */
  min-width: 400px;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
