<div class="card mb-3">
  <img [src]="imageUrl" class="card-img-top" alt="Imagen del artículo" />
  <div class="card-body">
    <h3 class="card-title">{{ title }}</h3>
    <p class="card-text">{{ description }}</p>
    <p class="card-text">
      <small>Publicado el {{ formattedDate }}</small>
    </p>

    <!-- Botón para redirigir a la página de detalles -->
    <a [routerLink]="['/articles', id]" class="btn btn-primary">Leer más</a>

    <!-- Botón de eliminar (solo visible si el usuario es admin) -->
    <button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteArticle()">
      Eliminar
    </button>
  </div>
</div>
