<div class="container mt-4 p-4 bg-light rounded">
  <h3 class="text-center mb-4">Enviar Mensaje</h3>
  <form (ngSubmit)="onSubmit()">
    <!-- Campo Usuario, solo visible si el usuario está logueado -->
    <div class="mb-3" *ngIf="isLoggedIn">
      <label for="username" class="form-label">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="username"
        [(ngModel)]="username"
        name="username"
      />
    </div>

    <!-- Campo Mensaje -->
    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <textarea
        class="form-control"
        id="message"
        rows="5"
        placeholder="Escriba su mensaje aquí"
        [(ngModel)]="content"
        name="message"
        [readonly]="!isLoggedIn"
        required
      ></textarea>
    </div>

    <!-- Botón Enviar o Iniciar Sesión -->
    <button
      type="submit"
      class="btn w-50"
      [class.btn-primary]="isLoggedIn"
      [class.btn-secondary]="!isLoggedIn"
    >
      {{ isLoggedIn ? "Enviar" : "Inicia sesión para comentar" }}
    </button>
  </form>
</div>
