<div
  class="container mt-4 p-4 bg-light rounded"
  style="max-width: 500px; margin-left: 0"
>
  <h4 class="mb-4">Enviar Mensaje</h4>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <!-- Campo Usuario -->
    <div class="mb-3" *ngIf="isLoggedIn">
      <label for="username" class="form-label">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="username"
        [value]="username"
        readonly
      />
    </div>

    <!-- Campo Mensaje -->
    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <textarea
        class="form-control"
        id="message"
        rows="5"
        placeholder="Escriba su mensaje aquí"
        formControlName="content"
        [readonly]="!isLoggedIn"
        required
      ></textarea>
      <div class="d-flex justify-content-between mt-1">
        <small
          class="text-danger"
          *ngIf="
            messageForm.get('content')?.invalid &&
            messageForm.get('content')?.touched
          "
        >
          El mensaje es requerido y no puede exceder 500 caracteres
        </small>
        <small
          [class.text-danger]="messageForm.get('content')?.value?.length > 500"
          class="ms-auto"
        >
          {{ messageForm.get("content")?.value?.length || 0 }}/500
        </small>
      </div>
    </div>

    <!-- Botón Enviar o Iniciar Sesión -->
    <button
      type="submit"
      class="btn w-100"
      [class.btn-primary]="isLoggedIn"
      [class.btn-secondary]="!isLoggedIn"
      [disabled]="
        messageForm.invalid ||
        messageForm.get('content')?.value?.length > 500 ||
        !isLoggedIn
      "
    >
      {{ isLoggedIn ? "Enviar" : "Inicia sesión para comentar" }}
    </button>
  </form>
</div>
