<div class="container py-5 mt-5 custom-container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-body p-5 bg-light">
          <h2 class="text-center mb-4">Sobre Mí</h2>
          <p class="text-center">
            <img
              src="assets/images/yo.png"
              alt="Rebeca Pérez"
              class="rounded-circle img-thumbnail mb-3"
              style="width: 200px; height: 200px"
            />
          </p>
          <p>
            ¡Hola! Soy <strong>Rebeca Pérez</strong>, desarrolladora web con una
            historia de transformación y pasión por la tecnología. En 2023, di
            un giro completo a mi carrera, dejando atrás el sector de la
            limpieza para dedicarme al desarrollo web, un campo donde las horas
            vuelan y la creatividad no tiene límites.
          </p>
          <p>
            Me formé en diferentes plataformas online como:
            <strong>PixelPro, Udemy, Pildorasinformáticas y Grupo Atrium</strong
            >, adquiriendo experiencia en lenguajes y frameworks modernos como
            JavaScript, Java, Angular y Spring Boot. Me encantan los desafíos de
            resolver problemas y construir aplicaciones atractivas y funcionales
            que marquen la diferencia.
          </p>
          <p>
            Gracias a la formación recibida y a mi dedicación, logré crear este
            sitio web personal desde cero. Este proyecto no solo me permitió
            poner en práctica los conocimientos adquiridos, sino que también me
            aportó mucha experiencia en la resolución de errores, el diseño de
            interfaces y la optimización de funcionalidades.
          </p>
          <p>
            Mi transición profesional me ha enseñado que la dedicación y el
            aprendizaje continuo son clave para el éxito. Mi experiencia previa
            me dio habilidades como la adaptabilidad, la atención al detalle y
            el trabajo en equipo, valores que ahora aplico al desarrollo de
            software.
          </p>
          <p>
            Fuera del código, disfruto de la lectura, el deporte y la
            videografía, actividades que me inspiran a seguir creciendo tanto
            personal como profesionalmente.
          </p>
          <p class="text-center">
            <a
              href="https://www.linkedin.com/in/rebeca-p%C3%A9rez-2a26772b7/"
              target="_blank"
              class="btn btn-primary mx-2"
              >Conectar en LinkedIn</a
            >
            <a
              href="https://github.com/Pro-gra-mer"
              target="_blank"
              class="btn btn-dark mx-2"
              >Ver mi GitHub</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
