<div class="container py-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-body p-5 bg-light">
          <h2 class="text-center mb-4">Sobre Mí</h2>
          <p class="text-center">
            <img
              src="assets/images/yo.png"
              alt="Rebeca Pérez"
              class="rounded-circle img-thumbnail mb-3"
              style="width: 200px; height: 200px"
            />
          </p>
          <p>
            Hola, soy <strong>Rebeca Pérez</strong>, una desarrolladora web con
            pasión por crear aplicaciones web atractivas y funcionales. Se me
            pasa el tiempo volando cuando estoy aprendiendo y trabajando con
            tecnologías modernas.
          </p>
          <p>
            Tengo experiencia en varios lenguajes de programación y frameworks,
            y siempre busco mejorar mis habilidades. Fuera del trabajo, disfruto
            de la videografía, el deporte y la lectura.
          </p>
          <p class="text-center">
            <a
              href="https://www.linkedin.com/in/rebeca-p%C3%A9rez-2a26772b7/"
              target="_blank"
              class="btn btn-primary mx-2"
              >Conectar en LinkedIn</a
            >
            <a
              href="https://github.com/Pro-gra-mer"
              target="_blank"
              class="btn btn-dark mx-2"
              >Ver mi GitHub</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
