<div class="container-fluid mt-5">
  <h2 class="text-center">Sobre Mí</h2>
  <p>
    "Hola, soy Rebeca Pérez. Soy desarrolladora web con una pasión por crear
    aplicaciones web atractivas y funcionales. Me encanta trabajar con
    tecnologías modernas y aprender continuamente.
  </p>
  <p>
    Tengo experiencia en varios lenguajes de programación y frameworks, y
    siempre busco mejorar mis habilidades. Fuera del trabajo, disfruto de la
    videografía y la lectura.
  </p>
  <p>Gracias por visitar mi página. ¡Espero que podamos conectar!"</p>
</div>
