<div class="container py-5 mt-4 d-flex justify-content-center">
  <div
    class="card shadow-lg border-0 bg-light"
    style="max-width: 500px; width: 100%"
  >
    <div class="card-body p-5">
      <h2 class="text-center mb-4">Iniciar Sesión</h2>
      <!-- Formulario reactivo de login -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Campo para el correo electrónico -->
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Ingrese su correo electrónico"
            autocomplete="email"
          />
          <!-- Mensajes de validación para el email -->
          <div
            *ngIf="submitted && loginForm.controls['email'].errors"
            class="text-danger"
          >
            <small *ngIf="loginForm.controls['email'].errors['required']">
              El correo es requerido.
            </small>
            <small *ngIf="loginForm.controls['email'].errors['email']">
              Formato de correo inválido.
            </small>
          </div>
        </div>

        <!-- Campo para la contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Ingrese su contraseña"
            autocomplete="current-password"
          />
          <!-- Mensajes de validación para la contraseña -->
          <div
            *ngIf="submitted && loginForm.controls['password'].errors"
            class="text-danger"
          >
            <small *ngIf="loginForm.controls['password'].errors['required']">
              La contraseña es requerida.
            </small>
            <small *ngIf="loginForm.controls['password'].errors['minlength']">
              Mínimo 8 caracteres.
            </small>
          </div>
        </div>

        <!-- Botón para enviar el formulario -->
        <button type="submit" class="btn btn-primary w-100">
          Iniciar Sesión
        </button>
      </form>

      <!-- Muestra error de autenticación si existe -->
      <div *ngIf="loginError" class="text-danger text-center mt-3">
        {{ loginError }}
      </div>

      <!-- Enlace para recuperación de contraseña -->
      <div class="text-center mt-3">
        <a [routerLink]="'/request-password'">¿Olvidaste tu contraseña?</a>
      </div>
      <!-- Enlace para registro de nuevos usuarios -->
      <div class="text-center mt-2">
        <span>
          No tienes cuenta? <a [routerLink]="'/register'">Regístrate aquí</a>
        </span>
      </div>
    </div>
  </div>
</div>
