.container-fluid {
  margin-top: 100px;
  max-width: 400px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fondo blanco con opacidad para resaltar el formulario */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra sutil para profundidad */
  padding: 20px; /* Espaciado interno adicional */
  font-weight: 600;
}
