@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

.logo {
  font-family: "Bad Script", cursive;
  font-size: 1.6em;
  font-style: normal;
  padding-right: 100px;
}

nav {
  font-size: 1.4em;
  padding-left: 220px;
  margin-bottom: -50px;
}

nav a {
  margin-right: 2rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegúrate de que quede por encima del contenido */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  flex: 1; /* Ocupa el espacio disponible */
}

@media (max-width: 576px) {
  nav {
    font-size: 1.4em;
    padding-left: 0;
    margin-bottom: -50px;
  }
}
