@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

.logo {
  font-family: "Bad Script", cursive;
  font-size: 1.6em;
  font-style: normal;
  padding-right: 100px;
}

nav {
  font-size: 1.4em;
  padding-left: 250px;
  margin-bottom: -50px;
}

nav a {
  margin-right: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  flex: 1; /* Ocupa el espacio disponible */
}
