<div class="card" [routerLink]="['/projects', id]">
  <img [src]="imageUrl" class="card-img-top" alt="Imagen del proyecto" />
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ description }}</p>
    <p class="card-text">
      <small>Publicado el {{ formattedDate }}</small>
    </p>

    <!-- Botón de eliminar (solo visible si el usuario es admin) -->
    <button
      *ngIf="isAdmin"
      class="btn btn-danger"
      (click)="deleteProject($event)"
    >
      Eliminar
    </button>
  </div>
</div>
