.card {
  transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transición */
  cursor: pointer;
}

.card-img-top {
  max-height: 200px; /* Limita la altura de la imagen */
  object-fit: cover; /* Mantiene la proporción de la imagen y recorta si es necesario */
  width: 100%;
}

/* Efecto de hover */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}

@media (max-width: 576px) {
  img {
    height: 200px;
  }
  h5 {
    font-size: 1.6em;
  }
}

.confirm {
  /* Botones Eliminar, Aceptar y Cancelar a la derecha */
  float: right;
}
