<div class="card mb-3">
  <img [src]="imageUrl" class="card-img-top" alt="Imagen del proyecto" />
  <div class="card-body">
    <h3 class="card-title">{{ title }}</h3>
    <p class="card-text">{{ description }}</p>
    <p class="card-text">
      <small>Publicado el {{ formattedDate }}</small>
    </p>

    <!-- Botón para redirigir a la página de detalles -->
    <a [routerLink]="['/projects', id]" class="btn btn-primary">Ver detalles</a>

    <!-- Botones de eliminar y confirmación (solo visible si el usuario es admin) -->
    <div class="confirm" *ngIf="isAdmin">
      <ng-container *ngIf="!confirmingDelete; else confirmButtons">
        <button class="btn btn-danger" (click)="confirmDelete()">
          Eliminar
        </button>
      </ng-container>
      <ng-template #confirmButtons>
        <button class="btn btn-success" (click)="deleteProject()">
          Aceptar
        </button>
        <button class="btn btn-secondary" (click)="cancelDelete()">
          Cancelar
        </button>
      </ng-template>
    </div>
  </div>
</div>
