.table {
  border-radius: 8px;
  overflow: hidden;
}

.container {
  margin-bottom: 50px;
}

h2 {
  color: white;
}

.date-separator {
  margin-top: 20px; /* Separación span de la fecha */
  font-size: 0.9em;
}
