.list-group-item {
  border: none;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.list-group-item p {
  font-size: 1rem; /* Aumenta ligeramente el tamaño del mensaje */
  line-height: 1.5; /* Mejora la legibilidad */
}

.list-group-item:last-child {
  border-bottom: none; /* Elimina el borde inferior del último elemento */
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.text-muted {
  font-size: 0.9rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
    float: none; /* Quita la alineación izquierda en dispositivos móviles */
  }
}
