h2 {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

h5 {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.btn {
  margin-left: 20px;
}

/* Ajuste de la altura del carrusel */
.carousel {
  height: 500px; /* Ajusta la altura a lo que mejor se vea */
}

/* Control de la tarjeta dentro del carrusel */
.carousel-item .card {
  max-width: 700px;
  margin: auto; /* Centra la tarjeta */
}

/* Asegúrate de que las imágenes se ajusten correctamente */
.carousel-item img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho */
  height: 100%; /* Hace que la imagen ocupe toda la altura */
  object-fit: cover; /* Mantiene la imagen proporcional sin deformarse */
}

/* Ajustes de las tarjetas en dispositivos pequeños */
@media (max-width: 767px) {
  .carousel {
    margin-bottom: 510px; /* Espacio entre el carrusel y el siguiente contenido */
  }

  .carousel-item .card {
    max-width: 100%; /* En dispositivos pequeños, la tarjeta ocupa el 100% del ancho */
  }

  .carousel-item img {
    object-fit: cover; /* Asegura que las imágenes no se deformen */
  }
}
