<h4>Libros</h4>
<div
  id="carouselExampleAutoplaying"
  class="carousel slide mt-4"
  data-bs-ride="carousel"
  data-bs-interval="10000"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card mb-3 w-50 mx-auto">
        <div class="row g-0">
          <div class="col-md-6">
            <img
              src="assets/images/portada-js-web.png"
              class="img-fluid rounded-start h-100"
              alt="Imagen del libro JavaScript"
              style="object-fit: cover"
            />
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-between">
            <div class="card-body">
              <h5 class="card-title">JavaScript: Aprende rápido y eficiente</h5>
              <p class="card-text ms-3 me-3 mb-3">
                Es un libro que te enseña a programar desde cero conectando los
                conceptos de la programación con ejemplos de la vida real. Este
                método es muy eficiente y acelera la curva de aprendizaje.
                Además, se fomenta la práctica mediante ejercicios y 4 proyectos
                reales, algo que es fundamental para aprender cualquier lenguaje
                de programación.
              </p>
              <a
                href="https://www.amazon.es/JavaScript-Aprende-r%C3%A1pido-y-eficiente/dp/B0D5V5VFKM/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr="
                class="btn btn-primary"
                target="_blank"
                >Ver en Amazon</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card mb-3 w-50 mx-auto">
        <div class="row g-0">
          <div class="col-md-6">
            <img
              src="assets/images/portada-java-web.png"
              class="img-fluid rounded-start h-100"
              alt="Imagen del libro Java"
              style="object-fit: cover"
            />
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-between">
            <div class="card-body">
              <h5 class="card-title">Java: Aprende desde cero</h5>
              <p class="card-text ms-3 me-3 mb-3">
                ¡Bienvenido/a al fascinante mundo de Java! Con este libro
                aprenderás a programar en Java desde cero. Está diseñado para
                proporcionarte una base sólida en los aspectos fundamentales del
                lenguaje y en la programación orientada a objetos (POO). Con
                esta base sólida estarás preparado/a para sumergirte en el resto
                de la arquitectura de Java.
              </p>
              <a
                href="https://www.amazon.es/dp/B0DFWCBQN8"
                target="_blank"
                class="btn btn-primary"
                >Ver en Amazon</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card mb-3 w-50 mx-auto">
        <div class="row g-0">
          <div class="col-md-6">
            <img
              src="assets/images/libro-react.png"
              class="img-fluid rounded-start h-100"
              alt="Imagen del libro React"
              style="object-fit: cover"
            />
          </div>
          <div class="col-md-6 d-flex flex-column justify-content-between">
            <div class="card-body">
              <h5 class="card-title">React en 48h</h5>
              <p class="card-text ms-3 me-3 mb-3">
                Diseñado para que aprendas React de forma rápida y eficiente,
                utilizando analogías y ejemplos del mundo real que facilitan la
                comprensión de esta poderosa librería. A través de explicaciones
                claras y concisas, dominarás los conceptos esenciales de React
                en tan solo 48 horas. Además, incluye dos proyectos prácticos.
              </p>
              <a
                href="https://www.amazon.es/dp/B0DCVLBZV6"
                target="_blank"
                class="btn btn-primary"
                >Ver en Amazon</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
