h4 {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

h5 {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.btn {
  margin-left: 20px;
}

/* Define un ancho máximo para las tarjetas en escritorio */
@media (min-width: 768px) {
  .carousel-item .card {
    max-width: 700px; /* Ajusta este valor al tamaño deseado en escritorio */
  }
}
