<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <!-- Social Media Icons -->
    <div class="mb-3">
      <!-- Facebook -->
      <a
        href="https://www.facebook.com/profile.php?id=100049729522602"
        class="text-white me-3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-facebook fa-lg"></i>
      </a>

      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/rebeca-p%C3%A9rez-2a26772b7/"
        class="text-white me-3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-linkedin fa-lg"></i>
      </a>

      <!-- GitHub -->
      <a
        href="https://github.com/Pro-gra-mer"
        class="text-white me-3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github fa-lg"></i>
      </a>
    </div>
    <!-- Copyright -->
    <p class="mb-0">&copy; 2024 Rebeca Pérez. Todos los derechos reservados.</p>
  </div>
</footer>
