<!-- Imagen de cabecera con animación -->
<div class="header-img">
  <div class="header-content">
    <h1
      class="title-underline title-with-bg animate__animated animate__fadeInDown"
    >
      Portfolio de Proyectos Personales
    </h1>
    <p class="header-subtitle animate__animated animate__fadeInDown">
      "Practicando, mejorando y creciendo como desarrolladora web"
    </p>
  </div>
</div>

<!-- Contenedor principal con componentes del portfolio -->
<div class="container">
  <app-carousel class="book"></app-carousel>
  <app-last-projects></app-last-projects>
  <div class="size-s">
    <app-message></app-message>
  </div>
  <app-messages-list></app-messages-list>
</div>
