h2 {
  font-size: 2.6em;
  margin-top: 80px;
  color: white;
  text-align: center;
}

.header-img {
  width: 100%;
  height: 400px;
  background-image: url("/assets/images/dalle.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
