/* Imagen de cabecera */
.header-img {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(
      135deg,
      rgba(44, 62, 80, 0.4),
      rgba(76, 161, 175, 0.4)
    ),
    url("/assets/images/miescritorio.webp");
  background-size: cover; /* Escala la imagen para cubrir todo el área */
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  filter: blur(1px);
  z-index: 0; /* Asegura que está detrás del contenido */
}

/* Contenedor del contenido */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.header-subtitle {
  display: inline-block; /* Ajusta el tamaño del fondo al contenido */
  background-color: rgba(44, 62, 80, 0.8);
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 1);
  padding: 10px 10px;
}

.title-underline {
  font-size: 3.4rem;
  font-weight: 400;
  color: white;
  margin: 0;
  text-shadow: 4px 2px 2px rgba(0, 0, 0, 1);
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Fondo animado del título */
.title-with-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Comienza con 0 de ancho */
  height: 100%;
  background: linear-gradient(
    115deg,
    rgba(236, 64, 122, 0.8),
    /* Fucsia vibrante */ rgba(44, 62, 80, 0.8) /* Azul oscuro del gradiente */
  );
  z-index: -1;
  animation: slide-grow 1s ease-in-out forwards; /* Usamos el keyframe compartido */
}

/* Subrayado animado */
.title-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* Espaciado desde el texto */
  width: 0; /* Comienza con 0 de ancho */
  height: 4px;
  background-color: white;
  animation: slide-grow 1s ease-out forwards; /* Usamos el keyframe compartido */
}

@keyframes slide-grow {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Crece hasta cubrir todo */
  }
}

/* Subtítulo */
.header-subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
  margin-top: 15px;
}

/* Responsividad */
@media (max-width: 576px) {
  .header-img {
    height: 350px;
  }
  .header-content {
    width: 90%;
  }
  .title-underline {
    font-size: 1.6rem;
  }
  .header-subtitle {
    padding: 10px 10px;
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .header-content {
    width: 90%; /* Reduce el ancho del contenido */
  }
  .title-underline {
    font-size: 2.5rem; /* Escala el tamaño del título */
  }
  .header-subtitle {
    font-size: 1.3rem; /* Ajusta el tamaño del subtítulo */
  }
}
