<div class="container">
  <h2 class="mb-4">Proyectos</h2>

  <!-- Cuadrícula de proyectos -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let project of projects">
      <app-project-card
        [id]="project.id"
        [title]="project.title"
        [description]="project.description"
        [publishDate]="project.publishDate"
        [imageUrl]="project.imageUrl"
        (projectDeleted)="onProjectDeleted($event)"
      >
      </app-project-card>
    </div>
  </div>
</div>
