<h4>Últimos proyectos</h4>
<a href="#" class="btn btn-primary">Ver Más</a>
<div class="card mb-5">
  <img src="assets/images/dalle.webp" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </p>
  </div>
</div>
<div
  class="card mb-5"
  onmouseover="this.classList.add('bg-light')"
  onmouseout="this.classList.remove('bg-light')"
>
  <img src="assets/images/dalle.webp" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </p>
  </div>
</div>
<div class="card mb-5">
  <img src="assets/images/dalle.webp" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <p class="card-text">
      <small class="text-body-secondary">Last updated 3 mins ago</small>
    </p>
  </div>
</div>
