<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Correo electrónico</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      placeholder="Ingresa tu correo"
    />
    <div *ngIf="isSubmitted && forgotPasswordForm.get('email')?.invalid">
      <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
        El correo es obligatorio.
      </small>
      <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
        Ingresa un correo válido.
      </small>
    </div>
  </div>
  <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>
</form>
