* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
}
/*
background: linear-gradient(135deg, #2c3e50, #4b0082);
background: linear-gradient(135deg, #1c1c1c, #0dcaf0);
background: linear-gradient(135deg, #343a40, #6c757d);
background: linear-gradient(135deg, #1c1c1c, #2c3e50);
*/
